{% load static %}

<div class="k-footer	k-grid__item k-grid k-grid--desktop k-grid--ver-desktop">
    <div class="k-footer__copyright">
        2020&nbsp;&copy;&nbsp;<a href="#" target="_blank" class="k-link">Bocetto</a>
    </div>
    <div class="k-footer__menu">
        <a href="#" target="_blank" class="k-footer__menu-link k-link">Nosotros</a>
        <a href="#" target="_blank" class="k-footer__menu-link k-link">Desarrolador</a>
        <a href="#" target="_blank" class="k-footer__menu-link k-link">Contacto</a>
    </div>
</div>