{% extends 'list.html' %}
{% load static %}

{% block aditional_head %}
<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Identificación</th>
        <th>Correo</th>
        <th>Celular</th>
        <th>Ciudad</th>
        <th>Opciones</th>
    </tr>
{% endblock %}

{% block rows %}


{% endblock %}